html {
  background-color: #18191a;
}

.container {
  max-width: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 4.5rem;
  display: flex;
  background-color: #252526;
  overflow: hidden;
  margin-bottom: 1000px;
  border-bottom: 1px solid rgb(87, 86, 86);
}

.logo {
  padding-left: 2rem;
  position: relative;
  bottom: 3.6rem;
  font-size: 4rem;
  color: white;
  font-family: 'VT323', monospace;
}

ul {
  flex: 1;
  text-align: right;
}

li {
  padding: 10px 10px;
}

nav ul li {
  display: inline-block;
}

.postBtn {
  position: relative;
  top: 1.6rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
}

.desktopView {
  position: relative;
  right: 1.5rem;
}

.desktopView a {
  color: white;
  font-size: 2rem;
  position: relative;
}

.mobileView {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar .desktopView {
    display: none;
  }

  .mobileView {
    color: white;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    display: flex;
    background-color: black;
    width: 100%;
    left: 0;
    z-index: 1;
    margin-bottom: 0;
    padding: 0;
  }

  .mobileView a {
    color: white;
    width: 10px;
    font-size: 2rem;
    padding: 10px 25px;
  }

  .postBtn {
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}

.feed-header {
  padding-top: 3rem;
  color: white;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 3rem;
}

.feed {
  margin-bottom: 5rem;
  padding: 0;
  color: white;
  font-family: 'VT323', monospace;
  justify-content: center;
}

.posting {
  border: 1px solid #4f4f4f;
  width: 30%;
  background-color: #252526;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  list-style: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.gamerTag,
.description {
  text-align: left;
  font-size: 1.5rem;
}

.gamerTag {
  margin: 0.5rem 0;
}

.description {
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .posting {
    width: 95%;
  }
}
