/* form */
.row {
  display: flex;
}

.col-half {
  padding-top: 2rem;
  flex-basis: 50%;
}

.submit {
  position: relative;
  bottom: 1.3rem;
  color: white;
  background-color: rgb(0, 182, 0);
  padding: 1rem 2rem;
  border-radius: 12px;
}

.cancel {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 1rem 2rem;
  border-radius: 12px;
}

textarea {
  width: 80%;
}

.newPostHeader {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 4rem;
}

.form-container {
  position: relative;
  top: 6rem;
  text-align: center;
  margin-top: 2rem;
  border: 1px solid grey;
  border-radius: 12px;
  width: 900px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  .form-container {
    width: 85%;
  }
}

.fileUpload {
  text-align: left;
  position: relative;
  left: 5.5rem;
  margin-bottom: 2rem;
  color: white;
}
