/* form */

.cancel {
  text-decoration: none;
}

.form-container {
  padding-top: 2rem;
  text-align: center;
}

textarea {
  width: 1000px;
}

.newPostHeader {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 4rem;
}
